.footer {
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: #ccc;
    background-color: #1a1a1a;
    border-top: 1px solid #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer span {
    color: #00ffa6;
    font-weight: bold;
}