.footer {
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: var(--text-gray-color);
    background-color: var(--header-color);
    border-top: 1px solid #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer span {
    color: var(--accent-color);
    font-weight: bold;
}