.container {
    max-width: 600px;
    margin: 3rem auto;
    padding: 20px 30px;
    border-radius: 12px;
    background-color: var(--bg-color);
    box-shadow: var(--card-shadow);
    font-family: sans-serif;
    text-align: center;
  }
  
  .h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: var(--text-color);
  }
  
  .p {
    margin-bottom: 12px;
    font-size: 1.1rem;
    color: var(--text-gray-color);
  }
  
  .feedback {
    font-style: italic;
    color: #aaaaff;
  }
  